In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
from matplotlib import font_manager, rc
import seaborn as sns 
sns.set_style("darkgrid")
%matplotlib inline 
rc("font", family="Malgun Gothic")
plt.rcParams["axes.unicode_minus"] = False 

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df_triplog = pd.read_csv('./socar_reservation_triplog.csv')
df_usage = pd.read_csv('./socar_usage.csv', encoding='cp949')

In [3]:
df_usage.head(3)

,reservation_id,region,reservation_return_at,reservation_start_at,member_age,member_gender,car_name,zone_name,zone_address,zone_lat,zone_lng,zone_type1,zone_type2,zone_type3
0,19600422,서울특별시 강서구,2019-01-01 17:33:42,2018-12-31 17:30:00,48,male,아반떼AD,SK주차장,서울 강서구 방화동 500-8,37.573011,126.804605,LIVING_APT,TRANSFER_STATION,TRANSFER_SUBWAY
1,19670477,경기도 수원시 팔달구,2019-01-01 16:00:11,2018-12-31 18:20:00,30,male,그랜저IG (LPG),스타주차장,경기 수원시 팔달구 매산로1가 19-1,37.268503,127.002136,LIVING_ETC,TRANSFER_SUBWAY,COMMERCIAL_HOTSPOT
2,19670646,경기도 김포시,2019-01-02 17:30:00,2019-01-02 14:50:00,34,male,카니발 11인승,월드애비뉴,경기 김포시 구래동 6880-7,37.645571,126.627879,LIVING_APT,COMMERCIAL_HOTSPOT,ETC

In [4]:
df_triplog.head(3)

,reservation_id,car_id,member_id_encrypted,region,reservation_return_at,reservation_start_at,member_age,member_gender,member_created_date,member_total_distance,...,zone_name,zone_address,zone_lat,zone_lng,zone_type1,zone_type2,zone_type3,reservation_created_lat,reservation_created_lng,trip
0,19600422,8352,6qA1i9+DXTJYgfWPqSGhszRpgNkUzFATBTG4XG7OciA=,서울특별시 강서구,2019-01-01 17:33:42,2018-12-31 17:30:00,48,male,2016-12-10,2277.0,...,SK주차장,서울 강서구 방화동 500-8,37.573011,126.804605,LIVING_APT,TRANSFER_STATION,TRANSFER_SUBWAY,NaN,NaN,NaN
1,19637831,9699,9uzg+C7Ng5hsI0So4WgJaUME+1dgR1LXyy4c8TEM1zY=,울산광역시 남구,2019-01-01 12:08:55,2018-12-31 16:00:00,25,male,2015-07-06,13156.0,...,우정유료주차장,울산 남구 삼산동 1481-10,35.536034,129.339783,TRANSFER_TERMINAL,TRANSFER_TERMINAL,COMMERCIAL_HOTSPOT,NaN,NaN,NaN
2,19670646,11933,SwEY5le8plfdi3EKoLBAF87zCTzFgIUo4nGWkZ6tOcM=,경기도 김포시,2019-01-02 17:30:00,2019-01-02 14:50:00,34,male,2015-10-07,318.0,...,월드애비뉴,경기 김포시 구래동 6880-7,37.645571,126.627879,LIVING_APT,COMMERCIAL_HOTSPOT,ETC,NaN,NaN,NaN

In [5]:
df_triplog.columns

Index(['reservation_id', 'car_id', 'member_id_encrypted', 'region',
       'reservation_return_at', 'reservation_start_at', 'member_age',
       'member_gender', 'member_created_date', 'member_total_distance',
       'is_vroom', 'car_name', 'zone_name', 'zone_address', 'zone_lat',
       'zone_lng', 'zone_type1', 'zone_type2', 'zone_type3',
       'reservation_created_lat', 'reservation_created_lng', 'trip'],
      dtype='object')

In [6]:
df_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837732 entries, 0 to 837731
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   reservation_id         837732 non-null  int64
 1   region                 837732 non-null  object
 2   reservation_return_at  837732 non-null  object
 3   reservation_start_at   837732 non-null  object
 4   member_age             837732 non-null  int64
 5   member_gender          716922 non-null  object
 6   car_name               837732 non-null  object
 7   zone_name              835922 non-null  object
 8   zone_address           837732 non-null  object
 9   zone_lat               837732 non-null  float64
 10  zone_lng               837732 non-null  float64
 11  zone_type1             805109 non-null  object
 12  zone_type2             746905 non-null  object
 13  zone_type3             695098 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 89.5+ MB

In [7]:
min(df_usage['reservation_start_at']), max(df_usage['reservation_start_at'])

('2018-12-25 14:10:00', '2019-12-31 23:30:00')

In [8]:
df_usage['member_gender'].unique()

array(['male', 'female', nan], dtype=object)

In [9]:
df_usage = df_usage.loc[df_usage['member_gender'].notnull()]
df_triplog = df_triplog.loc[df_triplog['member_gender'].notnull() & df_triplog['trip'].notnull()]

In [10]:
df_usage.columns

Index(['reservation_id', 'region', 'reservation_return_at',
       'reservation_start_at', 'member_age', 'member_gender', 'car_name',
       'zone_name', 'zone_address', 'zone_lat', 'zone_lng', 'zone_type1',
       'zone_type2', 'zone_type3'],
      dtype='object')

In [11]:
use_col = ['reservation_id', 'region', 'reservation_return_at', 'reservation_start_at', 'member_age', 
           'member_gender', 'zone_address', 'zone_lat', 'zone_lng']
df_usage = df_usage[use_col]

use_col = ['reservation_id', 'member_gender', 'member_total_distance', 'is_vroom', 'car_name', 'trip']
df_triplog = df_triplog[use_col]

In [12]:
df_join = pd.merge(df_usage, df_triplog, how='inner', on='reservation_id')

In [13]:
df_join.columns

Index(['reservation_id', 'region', 'reservation_return_at',
       'reservation_start_at', 'member_age', 'member_gender_x', 'zone_address',
       'zone_lat', 'zone_lng', 'member_gender_y', 'member_total_distance',
       'is_vroom', 'car_name', 'trip'],
      dtype='object')

In [14]:
# member gender가 다른 경우 제외
df_join = df_join.loc[df_join['member_gender_x'] == df_join['member_gender_y']]

In [15]:
df_join.drop(columns='member_gender_y', inplace=True)

In [16]:
df_join.rename(columns={'member_gender_x': 'member_gender'}, inplace=True)

In [17]:
df_join.columns

Index(['reservation_id', 'region', 'reservation_return_at',
       'reservation_start_at', 'member_age', 'member_gender', 'zone_address',
       'zone_lat', 'zone_lng', 'member_total_distance', 'is_vroom', 'car_name',
       'trip'],
      dtype='object')

In [18]:
df_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394399 entries, 0 to 394466
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   reservation_id         394399 non-null  int64
 1   region                 394399 non-null  object
 2   reservation_return_at  394399 non-null  object
 3   reservation_start_at   394399 non-null  object
 4   member_age             394399 non-null  int64
 5   member_gender          394399 non-null  object
 6   zone_address           394399 non-null  object
 7   zone_lat               394399 non-null  float64
 8   zone_lng               394399 non-null  float64
 9   member_total_distance  389313 non-null  float64
 10  is_vroom               394399 non-null  bool
 11  car_name               394399 non-null  object
 12  trip                   394399 non-null  object
dtypes: bool(1), float64(3), int64(2), object(7)
memory usage: 39.5+ MB

In [19]:
df_join['reservation_return_at'] =  pd.to_datetime(df_join['reservation_return_at'], format='%Y-%m-%d %H:%M:%S')
df_join['reservation_start_at'] =  pd.to_datetime(df_join['reservation_start_at'], format='%Y-%m-%d %H:%M:%S')

In [20]:
# 결측치 5개 제거
df_join.dropna(how='any', inplace=True)

In [21]:
# 사용시간 (분), 5분 미만 데이터는 제외
df_join['usage_time'] = (df_join['reservation_return_at'] - df_join['reservation_start_at']).astype('timedelta64[m]')
df_join = df_join.loc[df_join['usage_time']>5]

In [22]:
len(df_join)

389308

In [23]:
df_join.columns

Index(['reservation_id', 'region', 'reservation_return_at',
       'reservation_start_at', 'member_age', 'member_gender', 'zone_address',
       'zone_lat', 'zone_lng', 'member_total_distance', 'is_vroom', 'car_name',
       'trip', 'usage_time'],
      dtype='object')

In [24]:
# trip의 지역구 중복 제거
df_join['trip'] = df_join['trip'].apply(lambda x : ','.join(list(set(x.split(',')))))[0]

In [30]:
df_join.head()

,reservation_id,region,reservation_return_at,reservation_start_at,member_age,member_gender,zone_address,zone_lat,zone_lng,member_total_distance,is_vroom,car_name,trip,usage_time
0,20277450,서울특별시 서대문구,2019-02-04 23:04:15,2019-02-01 15:30:00,35,male,서울 서대문구 대현동 145,37.557541,126.944977,8774.0,False,볼트EV (제주),"충청남도 예산군,전라남도 화순군,광주광역시 북구,전라북도 정읍시,광주광역시 남구,광...",4774.0
1,20283135,서울특별시 동대문구,2019-02-02 09:27:15,2019-02-02 06:30:00,41,male,서울 동대문구 휘경동 283-5,37.589523,127.063044,191.0,True,카니발 11인승,"충청남도 예산군,전라남도 화순군,광주광역시 북구,전라북도 정읍시,광주광역시 남구,광...",177.0
2,20300527,서울특별시 강서구,2019-02-06 16:33:35,2019-02-02 18:00:00,32,female,서울 강서구 화곡동 98-86,37.541569,126.844612,19256.0,False,볼트EV (제주),"충청남도 예산군,전라남도 화순군,광주광역시 북구,전라북도 정읍시,광주광역시 남구,광...",5673.0
3,20319207,부산광역시 강서구,2019-02-05 10:48:56,2019-02-04 12:00:00,35,male,부산 강서구 대저2동 2764-2,35.171036,128.951645,1421.0,False,레이,"충청남도 예산군,전라남도 화순군,광주광역시 북구,전라북도 정읍시,광주광역시 남구,광...",1368.0
4,20320848,부산광역시 강서구,2019-02-05 12:00:12,2019-02-04 12:40:00,44,male,부산 강서구 대저2동 2764-2,35.171036,128.951645,1271.0,False,티볼리(경유),"충청남도 예산군,전라남도 화순군,광주광역시 북구,전라북도 정읍시,광주광역시 남구,광...",1400.0

In [ ]:
# 위도, 경도 이상치는 없는 것 같다

In [32]:
min(df_join['zone_lat']), max(df_join['zone_lat'])

(35.083052, 37.760854)

In [33]:
min(df_join['zone_lng']), max(df_join['zone_lng'])

(126.597065, 128.952002)

In [ ]:
######################################

### 같은 reservation_id 임에도 성별이 다른 경우 제거

In [73]:
df_usage.loc[df_usage['reservation_id']==20877853, 'member_gender']

69487    female
Name: member_gender, dtype: object

In [74]:
df_triplog.loc[df_triplog['reservation_id']==20877853, 'member_gender']

67728    male
Name: member_gender, dtype: object

In [76]:
df_join = df_join.loc[df_join['member_gender_x'] == df_join['member_gender_y']]